{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1 class="display-4 text-center">Meet the Team</h1>
<hr>
<div class="row">
  <h1 class="col-sm-6 text-center">Programming</h1>
  <h1 class="col-sm-6 text-center">Business</h1>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/about/kyle.jpg" class="card-img" alt="Sepia portrait of Kyle Williams.">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Kyle Williams</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rising Sophomore, Poly Prep Country Day School</h6>
            <p class="card-text"><em> Making this website with everyone was a really great learning expereince! From commanding forms to encoding images in Base64, and from making heavy use of MongoDB to learning the ins and outs of Bootstrap, I have learned quite a lot this summer and cannot wait to use my knowledge outside the classromm to make great things; in fact, I already have!</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/about/barbara.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Barbara Odae</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rising Junior, The Lawrenceville School</h6>
            <p class="card-text"><em>My name is Barbara Odae. This project was a very eye-opening experience because although I related to the problem we were addressing, it was crazy to hear from my peers and see how many of our experiences paralleled and discover the nuances of the problem. While I wish that my work on this project didn't have to end so soon, I'm excited to go back to taking long walks around the Bronx, writing poetry, and discovering new music.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/about/Emmanuel.jpg" class="card-img" alt="Old photo of Emanuel">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Emmanuel Olusheki</h5>
             <h6 class="card-subtitle mb-2 text-muted">Rising Sophomore, Elizabeth Irwin Highschool</h6>
            <p class="card-text"><em>Learning how to code and developing these experiences happened to be a great learning experience and I hope I can continue to use this knowledge outside of school and maybe create my own programs. I enjoy time alone, listening to music or playing minecraft with friends.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/about/tomi.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Tomilola Adegoke</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rising Junior, Concord Academy</h6>
            <p class="card-text"><em>My name is Tomi and one of the reasons I was excited about this project was because it personally resonates with me and I know that a lot of other people can relate to this problem. When I'm not working on this project I like to swim, paint, and watch Netflix.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}