{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1 class="display-4 text-center">Meet the Team</h1>
<hr>
<div class="row">
  <h1 class="col-sm-6 text-center">Programming</h1>
  <h1 class="col-sm-6 text-center">Business</h1>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/about/kyle.jpg" class="card-img" alt="Sepia portrait of Kyle Williams.">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Kyle Williams</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rising Sophomore, Poly Prep Country Day School</h6>
            <p class="card-text"><em> Making this website with everyone was a really great learning expereince! From commanding forms to encoding images in Base64, and from making heavy use of MongoDB to learning the ins and outs of Bootstrap, I have learned quite a lot this summer and cannot wait to use my knowledge outside the classromm to make great things; in fact, I already have!</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Barbara Odae</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rising Junior, The Lawrenceville School</h6>
            <p class="card-text"><em>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</em></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/about/Emmanuel.jpg" class="card-img" alt="Old photo of Emanuel">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Emmanuel Olusheki</h5>
             <h6 class="card-subtitle mb-2 text-muted">Rising Sophomore, Elizabeth Irwin Highschool</h6>
            <p class="card-text"><em>Making this website started off as a struggle but it came to be worth it in the end and I am glad I stayed attached to the work that we were provided with. Learning how to code and developing these experiences happened to be a great learning experience and I hope I can continue to use this knowledge outside of school and maybe create my own programs.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Tomilola Adegoke</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rising Junior, Concord Academy</h6>
            <p class="card-text"><em>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</em></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}