{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

    div>p, #bullets {
        font-family: 'Comfortaa', cursive;
        line-height: 2;
        font-size: x-large
    }

    .logo1 {
        color: #38b6ff
    }
    .logo2 {
        background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
    #header {
        border: 10px solid;
        border-image-source: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet);
        border-image-slice: 1;
        background-color: white;
    }
</style>

<div class="text-center">
        <div id="header">
            <h1><b class="logo1">Exclusively</b> <i class="logo2">Colorful</i></h1>
            <h4>Where Students of Color Can Express Their True Colors</h4>
        </div>
        <br>
        <h1 class="display-4">THE PROBLEM</h1>
        <p> Black and Latinx NYC students attending private boarding schools want access to a large and diverse network of POC peers that promotes inclusivity and intersectionality where they can connect and relate to each other in a casual setting during their time in high school.</p>
        
        <h1 class="display-4">THE SOLUTION</h1>
        <p>
          <b class="logo1">Exclusively</b> <i class="logo2">Colorful</i> is designed to be a platform that will provide a safe space for black and brown NYC students attending boarding schools through the use of:
        </p>
        <ul id="bullets" class="list-unstyled">
            <li><b>Forums</b> with a vast selection of topics that students can have casual conversations and unwind over</li>
            <li>A <b>confession outlet</b> where students can share their difficult racially targeted experiences in their boarding schools</li>
            <li>A <b>page of resources</b> for users to reference for whatever they deem fit</li>
        </ul>
        <br>
        <br>
        <button type="button" onclick="window.location.href='http://team-1-v2--supersonichub1.repl.co/activism';" value="activism_website" class="btn btn-outline-dark btn-lg">Start Chatting!</button>
</div>

{% endblock %}
