{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<h1>Exclusively Colorful</h1>
      <h3>Made by Barbara Odae, Emmanuel Olusheki, Kyle Williams, Tomilola Adegoke</h3>
      <div>
        <p>Problem: Black and Latinx NYC students attending private boarding schools want access to a large and diverse network of POC peers that promotes inclusivity and intersectionality where they can connect and relate to each other in a casual setting during their time in high school</p>
      </div>
        <p>
          This idea was born out of inspiration for the Black at instagram accounts and as a group project. Exclusively Colorful is designed to be a platform that will provide a safe space for black and brown NYC students attending boarding schools through the use of:
        </p>
        <ul class="list-unstyled">
          <ul>
            <li>Forums with a vast selection of topics that students can have casual conversations and unwind over</li>
            <li>A system where students can share their difficult racially targeted experiences in their boarding schools</li>
            <li>A page of resources for users to reference for whatever they deem fit</li>
          </ul>
        </ul>
        <figure class="figure">
          <img src="static/activism.png" class="figure-img img-fluid rounded" alt="activism">
          <figcaption class="figure-caption">A regular day on our homepage!</figcaption>
        </figure>
        <br>
        <br>
        <button type="button" onclick="window.location.href='http://team-1-v2--supersonichub1.repl.co/activism';" value="activism_website" class="btn btn-outline-dark">Join Us Today!</button>

{% endblock %}
