{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage.
    </p>
    <div class="card-columns">
      <div class="card">
        <img src="https://cdn.eso.org/images/thumb300y/eso1907a.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a test</p>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.eso.org/images/thumb300y/eso1907a.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a test</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card=title"> Kyle's post</h5>
          <p class "card-text"> this is just us doing a test with more text</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a test of your mental and physical strength. stay with me and we can unleash a whole new world of pain on everyone who stands in our way</p>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.eso.org/images/thumb300y/eso1907a.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a test</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a test</p>
          <p class="card-text"><small class="text-muted">Last updated by Kyle 3 minutes ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="https://www.lifewire.com/thmb/a9-QNuakVxbXSqklk1LKd-jvAXI=/3000x2000/filters:fill(auto,1)/mirror-image-on-iphone-4580247_FINAL-066dbf8b85094bdea9b078fc04a1a08a.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a test</p>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.eso.org/images/thumb300y/eso1907a.jpg" class="card-img-top">
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> heading</h5>
          <p class="card-text"> this is a the start of a new test</p>
        </div>
      </div>

{% endblock %}

<!-- <a href="#" class="stretched-link">Go somewhere</a> https://getbootstrap.com/docs/4.5/utilities/stretched-link/ -->